A Day at the Zoo
Today, I went to the zoo with my {{ adjective_0 }} friend, {{ name_0 }}.
We saw a {{ adjective_1 }} {{ animal_0 }} that was {{ verb_ending_in_ing_0 }} in its enclosure.
It made a really {{ adjective_2 }} sound!
